<a href="https://colab.research.google.com/github/harnalashok/deeplearning-sequences/blob/main/network_connect.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install cdlib

In [10]:
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [11]:
#%reset -f

# 1.0 Call libraries
import pandas as pd
import numpy as np
import networkx as nx

# 1.01
import joblib
from collections import defaultdict

# 1.02
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

# 1.08 Misc
import os,gc , time,  glob
from os.path import exists
import feather

In [43]:
# Paths:
modulePath = "/gdrive/MyDrive/Colab_data_files/talkingData/03112022/"
dataPath = "/gdrive/MyDrive/Colab_data_files/skipgram/"
modelsPath = "/gdrive/MyDrive/Colab_data_files/skipgram/modelspath/"
pathToStoreProgress = "/gdrive/MyDrive/Colab_data_files/skipgram/pathToStoreProgress/"

In [13]:
# 1.09 Home made modules
os.chdir(modulePath)
import network_features
from network_features import *
import utils
from utils import *

import importlib; importlib.reload(network_features)
import importlib; importlib.reload(utils)

In [31]:
# 8.0 Read back pkl file and dictionary:
os.chdir(dataPath)
train = pd.read_pickle("seq.pkl")
train.head()

     a    b
0  455  213
1   61  265
2  180  181
3  426  357
4  455  453

In [30]:
# Read dictionary
filehandler = open("word_index.txt", 'r')
word2index = filehandler.read()
word2index

"{'football': 1, 'ball': 2, 'symptoms': 3, 'religion': 4, 'codes': 5, 'include': 6, 'various': 7, 'covid': 8, 'may': 9, 'people': 10, 'develop': 11, 'players': 12, 'rules': 13, 'virus': 14, 'religious': 15, 'team': 16, 'sports': 17, 'kicking': 18, 'goal': 19, 'word': 20, 'rugby': 21, 'common': 22, 'games': 23, 'disease': 24, 'religions': 25, 'popular': 26, 'known': 27, 'league': 28, 'gaelic': 29, 'many': 30, 'public': 31, 'th': 32, 'century': 33, 'spread': 34, 'elements': 35, 'two': 36, 'also': 37, 'either': 38, 'foot': 39, 'severe': 40, 'risk': 41, 'contaminated': 42, 'transcription': 43, 'social': 44, 'beliefs': 45, 'supernatural': 46, 'sacred': 47, 'life': 48, 'varying': 49, 'form': 50, 'association': 51, 'american': 52, 'canadian': 53, 'australian': 54, 'union': 55, 'share': 56, 'origins': 57, 'traditional': 58, 'played': 59, 'different': 60, 'world': 61, 'cultural': 62, 'influence': 63, 'british': 64, 'empire': 65, 'end': 66, 'distinct': 67, 'developing': 68, 'first': 69, 'several': 70, 'moved': 71, 'field': 72, 'hands': 73, 'teams': 74, 'usually': 75, 'defined': 76, 'area': 77, 'scoring': 78, 'goals': 79, 'points': 80, 'opposing': 81, 'line': 82, 'resulting': 83, 'goalposts': 84, 'explanations': 85, 'origin': 86, 'explanation': 87, 'variety': 88, 'coronavirus': 89, 'contagious': 90, 'respiratory': 91, 'worldwide': 92, 'breathing': 93, 'loss': 94, 'days': 95, 'noticeable': 96, 'mild': 97, 'effects': 98, 'long': 99, 'studies': 100, 'underway': 101, 'transmission': 102, 'reverse': 103, 'mediated': 104, 'amplification': 105, 'measures': 106, 'face': 107, 'treatment': 108, 'practices': 109, 'places': 110, 'contain': 111, 'faith': 112, 'services': 113, 'mostly': 114, 'population': 115, 'religiously': 116, 'unaffiliated': 117, 'including': 118, 'family': 119, 'involve': 120, 'degrees': 121, 'score': 122, 'unqualified': 123, 'normally': 124, 'means': 125, 'used': 126, 'commonly': 127, 'called': 128, 'soccer': 129, 'north': 130, 'america': 131, 'oceania': 132, 'gridiron': 133, 'specifically': 134, 'forms': 135, 'extent': 136, 'number': 137, 'references': 138, 'ancient': 139, 'prehistoric': 140, 'parts': 141, 'contemporary': 142, 'traced': 143, 'back': 144, 'codification': 145, 'english': 146, 'schools': 147, 'expansion': 148, 'allowed': 149, 'areas': 150, 'outside': 151, 'directly': 152, 'controlled': 153, 'regional': 154, 'already': 155, 'example': 156, 'deliberately': 157, 'incorporated': 158, 'local': 159, 'order': 160, 'maintain': 161, 'heritage': 162, 'founded': 163, 'england': 164, 'becoming': 165, 'professional': 166, 'associations': 167, 'kinds': 168, 'grew': 169, 'become': 170, 'certain': 171, 'grouped': 172, 'main': 173, 'classes': 174, 'carrying': 175, 'like': 176, 'held': 177, 'thrown': 178, 'primarily': 179, 'feet': 180, 'handling': 181, 'strictly': 182, 'limited': 183, 'among': 184, 'variations': 185, 'fewer': 186, 'five': 187, 'per': 188, 'clearly': 189, 'play': 190, 'game': 191, 'moving': 192, 'putting': 193, 'defended': 194, 'using': 195, 'body': 196, 'move': 197, 'skills': 198, 'passing': 199, 'tackling': 200, 'evasion': 201, 'tackles': 202, 'catching': 203, 'restricting': 204, 'movement': 205, 'offside': 206, 'must': 207, 'put': 208, 'crossbar': 209, 'conflicting': 210, 'widely': 211, 'assumed': 212, 'phrase': 213, 'refers': 214, 'action': 215, 'alternative': 216, 'originally': 217, 'referred': 218, 'medieval': 219, 'europe': 220, 'conclusive': 221, 'evidence': 222, 'caused': 223, 'acute': 224, 'syndrome': 225, 'sars': 226, 'cov': 227, 'case': 228, 'identified': 229, 'wuhan': 230, 'china': 231, 'december': 232, 'quickly': 233, 'pandemic': 234, 'variable': 235, 'often': 236, 'fever': 237, 'cough': 238, 'headache': 239, 'fatigue': 240, 'difficulties': 241, 'smell': 242, 'taste': 243, 'begin': 244, 'one': 245, 'fourteen': 246, 'exposure': 247, 'least': 248, 'third': 249, 'infected': 250, 'enough': 251, 'classed': 252, 'patients': 253, 'moderate': 254, 'pneumonia': 255, 'dyspnoea': 256, 'hypoxia': 257, 'lung': 258, 'involvement': 259, 'imaging': 260, 'critical': 261, 'failure': 262, 'shock': 263, 'multiorgan': 264, 'dysfunction': 265, 'older': 266, 'higher': 267, 'continue': 268, 'experience': 269, 'range': 270, 'months': 271, 'recovery': 272, 'damage': 273, 'organs': 274, 'observed': 275, 'multi': 276, 'year': 277, 'investigate': 278, 'term': 279, 'transmits': 280, 'breathe': 281, 'air': 282, 'droplets': 283, 'small': 284, 'airborne': 285, 'particles': 286, 'containing': 287, 'highest': 288, 'close': 289, 'proximity': 290, 'inhaled': 291, 'longer': 292, 'distances': 293, 'particularly': 294, 'indoors': 295, 'occur': 296, 'splashed': 297, 'sprayed': 298, 'fluids': 299, 'eyes': 300, 'nose': 301, 'mouth': 302, 'rarely': 303, 'via': 304, 'surfaces': 305, 'remain': 306, 'even': 307, 'testing': 308, 'methods': 309, 'detect': 310, 'viruss': 311, 'nucleic': 312, 'acid': 313, 'real': 314, 'time': 315, 'polymerase': 316, 'chain': 317, 'reaction': 318, 'rrt': 319, 'pcr': 320, 'loop': 321, 'isothermal': 322, 'rt': 323, 'lamp': 324, 'nasopharyngeal': 325, 'swab': 326, 'vaccines': 327, 'approved': 328, 'distributed': 329, 'countries': 330, 'initiated': 331, 'mass': 332, 'vaccination': 333, 'campaigns': 334, 'preventive': 335, 'physical': 336, 'distancing': 337, 'quarantining': 338, 'ventilation': 339, 'indoor': 340, 'spaces': 341, 'covering': 342, 'coughs': 343, 'sneezes': 344, 'hand': 345, 'washing': 346, 'keeping': 347, 'unwashed': 348, 'away': 349, 'use': 350, 'masks': 351, 'coverings': 352, 'recommended': 353, 'settings': 354, 'minimise': 355, 'work': 356, 'drugs': 357, 'inhibit': 358, 'primary': 359, 'symptomatic': 360, 'management': 361, 'involves': 362, 'supportive': 363, 'care': 364, 'isolation': 365, 'experimental': 366, 'system': 367, 'designated': 368, 'behaviors': 369, 'morals': 370, 'worldviews': 371, 'texts': 372, 'sanctified': 373, 'prophecies': 374, 'ethics': 375, 'organizations': 376, 'generally': 377, 'relates': 378, 'humanity': 379, 'transcendental': 380, 'spiritual': 381, 'however': 382, 'scholarly': 383, 'consensus': 384, 'precisely': 385, 'constitutes': 386, 'ranging': 387, 'divine': 388, 'things': 389, 'beings': 390, 'sort': 391, 'ultimacy': 392, 'transcendence': 393, 'provide': 394, 'norms': 395, 'power': 396, 'rest': 397, 'rituals': 398, 'sermons': 399, 'commemoration': 400, 'veneration': 401, 'deities': 402, 'saints': 403, 'sacrifices': 404, 'festivals': 405, 'feasts': 406, 'trances': 407, 'initiations': 408, 'funerary': 409, 'matrimonial': 410, 'meditation': 411, 'prayer': 412, 'music': 413, 'art': 414, 'dance': 415, 'service': 416, 'aspects': 417, 'human': 418, 'culture': 419, 'histories': 420, 'narratives': 421, 'preserved': 422, 'scriptures': 423, 'symbols': 424, 'holy': 425, 'aim': 426, 'give': 427, 'meaning': 428, 'symbolic': 429, 'stories': 430, 'sometimes': 431, 'said': 432, 'followers': 433, 'true': 434, 'attempt': 435, 'explain': 436, 'universe': 437, 'phenomena': 438, 'traditionally': 439, 'addition': 440, 'reason': 441, 'considered': 442, 'source': 443, 'estimated': 444, 'worlds': 445, 'affiliated': 446, 'christianity': 447, 'islam': 448, 'hinduism': 449, 'buddhism': 450, 'folk': 451, 'demographic': 452, 'includes': 453, 'identify': 454, 'particular': 455, 'atheists': 456, 'agnostics': 457, 'still': 458, 'portion': 459, 'located': 460, 'africa': 461, 'asia': 462, 'members': 463, 'new': 464, 'movements': 465, 'study': 466, 'comprises': 467, 'wide': 468, 'academic': 469, 'disciplines': 470, 'theology': 471, 'philosophy': 472, 'comparative': 473, 'scientific': 474, 'theories': 475, 'offer': 476, 'workings': 477, 'ontological': 478, 'foundations': 479, 'belief': 480}"

In [32]:
org_columns = train.columns
cat_cols = ['a', 'b']

In [33]:
# 6.1 Create new columns (combinations of columns) in train
train = utils.create_cat_pairwise_cols(train , cat_cols)

In [34]:
train.head()

     a    b    a_p_b
0  455  213  455_213
1   61  265   61_265
2  180  181  180_181
3  426  357  426_357
4  455  453  455_453

In [35]:
# 6.11 The train columns are:
current_train_columns = train.columns
# 6.12 New columns created. These columns must be latter dropped
new_cols = list(set(current_train_columns).difference(set(org_columns)))
# 6.13 Revised cat cols (ie excluding hour etc)
cat_cols.extend(new_cols)
len(cat_cols)   # 15
cat_cols

['a', 'b', 'a_p_b']

In [36]:
# 8.1 Get all possibe permutation of our columns
#     Also decide which all centrality measures to cal
deg = 1    # Calculate degree centrality
eig = 1    # Calculate eigenvector centrality
pr =  1    # Calculate pagerank centrality
clu = 0    # Clustering coeff centrality
nf = None # nx.katz_centrality_numpy
cMeasures = [deg,eig,pr,clu, nf]

In [37]:
single_permute_list = utils.permute_colList(cat_cols,cMeasures)
single_permute_list

[('a', 'b', [1, 1, 1, 0, None]),
 ('a', 'a_p_b', [1, 1, 1, 0, None]),
 ('b', 'a', [1, 1, 1, 0, None]),
 ('b', 'a_p_b', [1, 1, 1, 0, None]),
 ('a_p_b', 'a', [1, 1, 1, 0, None]),
 ('a_p_b', 'b', [1, 1, 1, 0, None])]

In [38]:
len(single_permute_list)   # 210

6

In [39]:
spl = pd.DataFrame(single_permute_list, columns = ["colToProject", "intermediaryCol", "cMeasures?"])
spl.shape   # (210, 4)
spl

  colToProject intermediaryCol          cMeasures?
0            a               b  [1, 1, 1, 0, None]
1            a           a_p_b  [1, 1, 1, 0, None]
2            b               a  [1, 1, 1, 0, None]
3            b           a_p_b  [1, 1, 1, 0, None]
4        a_p_b               a  [1, 1, 1, 0, None]
5        a_p_b               b  [1, 1, 1, 0, None]

In [40]:
record_sets = list(spl.to_records(index = False))

In [41]:
record_sets

[('a', 'b', list([1, 1, 1, 0, None])),
 ('a', 'a_p_b', list([1, 1, 1, 0, None])),
 ('b', 'a', list([1, 1, 1, 0, None])),
 ('b', 'a_p_b', list([1, 1, 1, 0, None])),
 ('a_p_b', 'a', list([1, 1, 1, 0, None])),
 ('a_p_b', 'b', list([1, 1, 1, 0, None]))]

In [42]:
fulllist = [record_sets]

In [45]:
X = train
m = 1
for k,j in enumerate(fulllist):
  print("Record set no is {} of {}th fulllist ".format(k+1,m+1))
  print("Set of records is: ", j)
  # Each outer loop creates a new sets of models
  fulllist_repeat_no = m + 1
  transYesNo = False  # True implies transformation
  X1_train, X1_test = network_features.get_store_features(X,j, transYesNo, None, fulllist_repeat_no , modelsPath, pathToStoreProgress)
  print("\nList done. X1_train shape ", X1_train.shape)
  del X1_train
  gc.collect()

Record set no is 1 of 2th fulllist
Set of records is:  [('a', 'b', list([1, 1, 1, 0, None])), ('a', 'a_p_b', list([1, 1, 1, 0, None])), ('b', 'a', list([1, 1, 1, 0, None])), ('b', 'a_p_b', list([1, 1, 1, 0, None])), ('a_p_b', 'a', list([1, 1, 1, 0, None])), ('a_p_b', 'b', list([1, 1, 1, 0, None]))]
('a', 'b', list([1, 1, 1, 0, None]))

Next:  1 a b
========================
No of unique values in  a  are:  480
Bipartite Network created. Time taken:  0.0007027904192606608 minutes
Bipartite Network projected. Time taken:  0.0034075021743774415 minutes
Model extracted. Time taken:  0.009365785121917724 minutes
Model stored to disk
train columns:  3
No test data
Done with a b
Time taken:  0.014222860336303711
Entry made in file progress.csv
('a', 'a_p_b', list([1, 1, 1, 0, None]))

Next:  2 a a_p_b
========================
No of unique values in  a  are:  480
Bipartite Network created. Time taken:  0.0008696317672729492 minutes
Bipartite Network projected. Time taken:  0.00033295551935831705 minutes
Model extracted. Time taken:  0.0016080617904663086 minutes
Model stored to disk
train columns:  3
No test data
Done with a a_p_b
Time taken:  0.003644708792368571
Entry made in file progress.csv
('b', 'a', list([1, 1, 1, 0, None]))

Next:  3 b a
========================
No of unique values in  b  are:  480
Bipartite Network created. Time taken:  0.0006151477495829265 minutes
Bipartite Network projected. Time taken:  0.0037505586942036947 minutes
Model extracted. Time taken:  0.006672906875610352 minutes
Model stored to disk
train columns:  3
No test data
Done with b a
Time taken:  0.011785046259562174
Entry made in file progress.csv
('b', 'a_p_b', list([1, 1, 1, 0, None]))

Next:  4 b a_p_b
========================
No of unique values in  b  are:  480
Bipartite Network created. Time taken:  0.0006290872891743978 minutes
Bipartite Network projected. Time taken:  0.0003036578496297201 minutes
Model extracted. Time taken:  0.0016763130823771158 minutes
Model stored to disk
train columns:  3
No test data
Done with b a_p_b
Time taken:  0.003318301836649577
Entry made in file progress.csv
('a_p_b', 'a', list([1, 1, 1, 0, None]))

Next:  5 a_p_b a
========================
No of unique values in  a_p_b  are:  5582
Bipartite Network created. Time taken:  0.0009086966514587402 minutes
Bipartite Network projected. Time taken:  0.00525433619817098 minutes
Model extracted. Time taken:  0.010124027729034424 minutes
Model stored to disk
train columns:  3
No test data
Done with a_p_b a
Time taken:  0.02265532414118449
Entry made in file progress.csv
('a_p_b', 'b', list([1, 1, 1, 0, None]))

Next:  6 a_p_b b
========================
No of unique values in  a_p_b  are:  5582
Bipartite Network created. Time taken:  0.0007270614306131999 minutes
Bipartite Network projected. Time taken:  0.004017452398935954 minutes
Model extracted. Time taken:  0.00695714553197225 minutes
Model stored to disk
train columns:  3
No test data
Done with a_p_b b
Time taken:  0.018456542491912843
Entry made in file progress.csv

List done. X1_train shape  (5908, 3)

In [80]:
def readStoredModels(pathToReadFrom, fileList):
  model_dfs = []
  os.chdir(pathToReadFrom)
  for file in fileList:
    df = pd.read_pickle(file)
    model_dfs.append(df)
  return model_dfs

In [81]:
os.chdir(modelsPath)
files = os.listdir()
file_list = [file for file in files if ("deg_a_ck" in file) or ("eig_a_ck" in file) or ("pr_a_ck" in file) ]

In [83]:
models = readStoredModels(modelsPath, file_list)

In [84]:
# Merge models
for i, model in enumerate(models):
  if i == 0:
    df = model
  else:
    df = pd.merge(df, model, left_index=True, right_index=True)

In [85]:
df

,deg_a_ck_b,eig_a_ck_b,pr_a_ck_b,deg_a_ck_a_p_b,eig_a_ck_a_p_b,pr_a_ck_a_p_b
a,,,,,,
1.0,0.943633,0.136821,0.007628,0.0,0.043262,0.002083
2.0,0.787056,0.120828,0.006361,0.0,0.077953,0.002083
3.0,0.787056,0.117384,0.006390,0.0,-0.052496,0.002083
4.0,0.736952,0.111466,0.005999,0.0,-0.075497,0.002083
5.0,0.716075,0.112652,0.005796,0.0,-0.021041,0.002083
...,...,...,...,...,...,...
476.0,0.212944,0.038622,0.001909,0.0,0.054573,0.002083
477.0,0.187891,0.032655,0.001733,0.0,-0.071345,0.002083
478.0,0.219207,0.035809,0.001989,0.0,0.067491,0.002083
479.0,0.152401,0.025139,0.001487,0.0,0.079582,0.002083
480.0,0.098121,0.017929,0.001052,0.0,0.026449,0.002083

In [86]:
# Save dataframe:
os.chdir(dataPath)
df.to_pickle("word2vec.pkl")

In [88]:
# Load word2vec
os.chdir(dataPath)
pd.read_pickle("word2vec.pkl")

,deg_a_ck_b,eig_a_ck_b,pr_a_ck_b,deg_a_ck_a_p_b,eig_a_ck_a_p_b,pr_a_ck_a_p_b
a,,,,,,
1.0,0.943633,0.136821,0.007628,0.0,0.043262,0.002083
2.0,0.787056,0.120828,0.006361,0.0,0.077953,0.002083
3.0,0.787056,0.117384,0.006390,0.0,-0.052496,0.002083
4.0,0.736952,0.111466,0.005999,0.0,-0.075497,0.002083
5.0,0.716075,0.112652,0.005796,0.0,-0.021041,0.002083
...,...,...,...,...,...,...
476.0,0.212944,0.038622,0.001909,0.0,0.054573,0.002083
477.0,0.187891,0.032655,0.001733,0.0,-0.071345,0.002083
478.0,0.219207,0.035809,0.001989,0.0,0.067491,0.002083
479.0,0.152401,0.025139,0.001487,0.0,0.079582,0.002083
480.0,0.098121,0.017929,0.001052,0.0,0.026449,0.002083

In [89]:
# Read dicionary
word2index

"{'football': 1, 'ball': 2, 'symptoms': 3, 'religion': 4, 'codes': 5, 'include': 6, 'various': 7, 'covid': 8, 'may': 9, 'people': 10, 'develop': 11, 'players': 12, 'rules': 13, 'virus': 14, 'religious': 15, 'team': 16, 'sports': 17, 'kicking': 18, 'goal': 19, 'word': 20, 'rugby': 21, 'common': 22, 'games': 23, 'disease': 24, 'religions': 25, 'popular': 26, 'known': 27, 'league': 28, 'gaelic': 29, 'many': 30, 'public': 31, 'th': 32, 'century': 33, 'spread': 34, 'elements': 35, 'two': 36, 'also': 37, 'either': 38, 'foot': 39, 'severe': 40, 'risk': 41, 'contaminated': 42, 'transcription': 43, 'social': 44, 'beliefs': 45, 'supernatural': 46, 'sacred': 47, 'life': 48, 'varying': 49, 'form': 50, 'association': 51, 'american': 52, 'canadian': 53, 'australian': 54, 'union': 55, 'share': 56, 'origins': 57, 'traditional': 58, 'played': 59, 'different': 60, 'world': 61, 'cultural': 62, 'influence': 63, 'british': 64, 'empire': 65, 'end': 66, 'distinct': 67, 'developing': 68, 'first': 69, 'several': 70, 'moved': 71, 'field': 72, 'hands': 73, 'teams': 74, 'usually': 75, 'defined': 76, 'area': 77, 'scoring': 78, 'goals': 79, 'points': 80, 'opposing': 81, 'line': 82, 'resulting': 83, 'goalposts': 84, 'explanations': 85, 'origin': 86, 'explanation': 87, 'variety': 88, 'coronavirus': 89, 'contagious': 90, 'respiratory': 91, 'worldwide': 92, 'breathing': 93, 'loss': 94, 'days': 95, 'noticeable': 96, 'mild': 97, 'effects': 98, 'long': 99, 'studies': 100, 'underway': 101, 'transmission': 102, 'reverse': 103, 'mediated': 104, 'amplification': 105, 'measures': 106, 'face': 107, 'treatment': 108, 'practices': 109, 'places': 110, 'contain': 111, 'faith': 112, 'services': 113, 'mostly': 114, 'population': 115, 'religiously': 116, 'unaffiliated': 117, 'including': 118, 'family': 119, 'involve': 120, 'degrees': 121, 'score': 122, 'unqualified': 123, 'normally': 124, 'means': 125, 'used': 126, 'commonly': 127, 'called': 128, 'soccer': 129, 'north': 130, 'america': 131, 'oceania': 132, 'gridiron': 133, 'specifically': 134, 'forms': 135, 'extent': 136, 'number': 137, 'references': 138, 'ancient': 139, 'prehistoric': 140, 'parts': 141, 'contemporary': 142, 'traced': 143, 'back': 144, 'codification': 145, 'english': 146, 'schools': 147, 'expansion': 148, 'allowed': 149, 'areas': 150, 'outside': 151, 'directly': 152, 'controlled': 153, 'regional': 154, 'already': 155, 'example': 156, 'deliberately': 157, 'incorporated': 158, 'local': 159, 'order': 160, 'maintain': 161, 'heritage': 162, 'founded': 163, 'england': 164, 'becoming': 165, 'professional': 166, 'associations': 167, 'kinds': 168, 'grew': 169, 'become': 170, 'certain': 171, 'grouped': 172, 'main': 173, 'classes': 174, 'carrying': 175, 'like': 176, 'held': 177, 'thrown': 178, 'primarily': 179, 'feet': 180, 'handling': 181, 'strictly': 182, 'limited': 183, 'among': 184, 'variations': 185, 'fewer': 186, 'five': 187, 'per': 188, 'clearly': 189, 'play': 190, 'game': 191, 'moving': 192, 'putting': 193, 'defended': 194, 'using': 195, 'body': 196, 'move': 197, 'skills': 198, 'passing': 199, 'tackling': 200, 'evasion': 201, 'tackles': 202, 'catching': 203, 'restricting': 204, 'movement': 205, 'offside': 206, 'must': 207, 'put': 208, 'crossbar': 209, 'conflicting': 210, 'widely': 211, 'assumed': 212, 'phrase': 213, 'refers': 214, 'action': 215, 'alternative': 216, 'originally': 217, 'referred': 218, 'medieval': 219, 'europe': 220, 'conclusive': 221, 'evidence': 222, 'caused': 223, 'acute': 224, 'syndrome': 225, 'sars': 226, 'cov': 227, 'case': 228, 'identified': 229, 'wuhan': 230, 'china': 231, 'december': 232, 'quickly': 233, 'pandemic': 234, 'variable': 235, 'often': 236, 'fever': 237, 'cough': 238, 'headache': 239, 'fatigue': 240, 'difficulties': 241, 'smell': 242, 'taste': 243, 'begin': 244, 'one': 245, 'fourteen': 246, 'exposure': 247, 'least': 248, 'third': 249, 'infected': 250, 'enough': 251, 'classed': 252, 'patients': 253, 'moderate': 254, 'pneumonia': 255, 'dyspnoea': 256, 'hypoxia': 257, 'lung': 258, 'involvement': 259, 'imaging': 260, 'critical': 261, 'failure': 262, 'shock': 263, 'multiorgan': 264, 'dysfunction': 265, 'older': 266, 'higher': 267, 'continue': 268, 'experience': 269, 'range': 270, 'months': 271, 'recovery': 272, 'damage': 273, 'organs': 274, 'observed': 275, 'multi': 276, 'year': 277, 'investigate': 278, 'term': 279, 'transmits': 280, 'breathe': 281, 'air': 282, 'droplets': 283, 'small': 284, 'airborne': 285, 'particles': 286, 'containing': 287, 'highest': 288, 'close': 289, 'proximity': 290, 'inhaled': 291, 'longer': 292, 'distances': 293, 'particularly': 294, 'indoors': 295, 'occur': 296, 'splashed': 297, 'sprayed': 298, 'fluids': 299, 'eyes': 300, 'nose': 301, 'mouth': 302, 'rarely': 303, 'via': 304, 'surfaces': 305, 'remain': 306, 'even': 307, 'testing': 308, 'methods': 309, 'detect': 310, 'viruss': 311, 'nucleic': 312, 'acid': 313, 'real': 314, 'time': 315, 'polymerase': 316, 'chain': 317, 'reaction': 318, 'rrt': 319, 'pcr': 320, 'loop': 321, 'isothermal': 322, 'rt': 323, 'lamp': 324, 'nasopharyngeal': 325, 'swab': 326, 'vaccines': 327, 'approved': 328, 'distributed': 329, 'countries': 330, 'initiated': 331, 'mass': 332, 'vaccination': 333, 'campaigns': 334, 'preventive': 335, 'physical': 336, 'distancing': 337, 'quarantining': 338, 'ventilation': 339, 'indoor': 340, 'spaces': 341, 'covering': 342, 'coughs': 343, 'sneezes': 344, 'hand': 345, 'washing': 346, 'keeping': 347, 'unwashed': 348, 'away': 349, 'use': 350, 'masks': 351, 'coverings': 352, 'recommended': 353, 'settings': 354, 'minimise': 355, 'work': 356, 'drugs': 357, 'inhibit': 358, 'primary': 359, 'symptomatic': 360, 'management': 361, 'involves': 362, 'supportive': 363, 'care': 364, 'isolation': 365, 'experimental': 366, 'system': 367, 'designated': 368, 'behaviors': 369, 'morals': 370, 'worldviews': 371, 'texts': 372, 'sanctified': 373, 'prophecies': 374, 'ethics': 375, 'organizations': 376, 'generally': 377, 'relates': 378, 'humanity': 379, 'transcendental': 380, 'spiritual': 381, 'however': 382, 'scholarly': 383, 'consensus': 384, 'precisely': 385, 'constitutes': 386, 'ranging': 387, 'divine': 388, 'things': 389, 'beings': 390, 'sort': 391, 'ultimacy': 392, 'transcendence': 393, 'provide': 394, 'norms': 395, 'power': 396, 'rest': 397, 'rituals': 398, 'sermons': 399, 'commemoration': 400, 'veneration': 401, 'deities': 402, 'saints': 403, 'sacrifices': 404, 'festivals': 405, 'feasts': 406, 'trances': 407, 'initiations': 408, 'funerary': 409, 'matrimonial': 410, 'meditation': 411, 'prayer': 412, 'music': 413, 'art': 414, 'dance': 415, 'service': 416, 'aspects': 417, 'human': 418, 'culture': 419, 'histories': 420, 'narratives': 421, 'preserved': 422, 'scriptures': 423, 'symbols': 424, 'holy': 425, 'aim': 426, 'give': 427, 'meaning': 428, 'symbolic': 429, 'stories': 430, 'sometimes': 431, 'said': 432, 'followers': 433, 'true': 434, 'attempt': 435, 'explain': 436, 'universe': 437, 'phenomena': 438, 'traditionally': 439, 'addition': 440, 'reason': 441, 'considered': 442, 'source': 443, 'estimated': 444, 'worlds': 445, 'affiliated': 446, 'christianity': 447, 'islam': 448, 'hinduism': 449, 'buddhism': 450, 'folk': 451, 'demographic': 452, 'includes': 453, 'identify': 454, 'particular': 455, 'atheists': 456, 'agnostics': 457, 'still': 458, 'portion': 459, 'located': 460, 'africa': 461, 'asia': 462, 'members': 463, 'new': 464, 'movements': 465, 'study': 466, 'comprises': 467, 'wide': 468, 'academic': 469, 'disciplines': 470, 'theology': 471, 'philosophy': 472, 'comparative': 473, 'scientific': 474, 'theories': 475, 'offer': 476, 'workings': 477, 'ontological': 478, 'foundations': 479, 'belief': 480}"

In [ ]:
# Convert them to tsv files in proper format
# as vector.tsv and as meta,tsv